body {
    background-color:green;
}

.auto-style1 {
            width: 70%;
        }

.auto-style2 {
        }

.auto-style3 {
            width: 534px;
        }

.auto-style4 {
            width: 254px;
        }

       
 
